*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-font: 'Sora', sans-serif;
    --secondary-font: 'Gummy Bears', cursive;
    --text-color: #1C94E5;
    --bg-color: #C7E2F8;
}

body{
    font-family: var(--primary-font);
    background: url(../img/box.png) repeat 0 0;
    -webkit-animation: background-scroll 6s infinite;
    animation: background-scroll 6s infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

@-webkit-keyframes background-scroll {
    100% {
      background-position: 50px 50px;
    }
  }
  @-moz-keyframes background-scroll {
    100% {
      background-position: 50px 50px;
    }
  }
  @-o-keyframes background-scroll {
    100% {
      background-position: 50px 50px;
    }
  }
  @keyframes background-scroll {
    100% {
      background-position: 50px 50px;
    }
  }
  