*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-font: 'Sora', sans-serif;
    --secondary-font: 'Gummy Bears', cursive;
    --text-color: #1C94E5;
}

body{
    font-family: var(--primary-font);
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC) repeat 0 0;
    -webkit-animation: background-scroll 6s infinite;
    animation: background-scroll 6s infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}

@-webkit-keyframes background-scroll {
    100% {
      background-position: 50px 50px;
    }
  }
  @-moz-keyframes background-scroll {
    100% {
      background-position: 50px 50px;
    }
  }
  @-o-keyframes background-scroll {
    100% {
      background-position: 50px 50px;
    }
  }
  @keyframes background-scroll {
    100% {
      background-position: 50px 50px;
    }
  }
  